:root {
    --color-main: #2E2F42;
    --color-interactive: #404BBF;
    --color-body: #434455;
    --color-accent: #FFFFFF;
    --color-second: #F4F4FD;
    --primary-brand: #4D5AE5;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--color-body);
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: var(--color-accent);
}

header {
    border-bottom: 1px solid #E7E9FC;
}

a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-main);
    letter-spacing: 0.02em;
}

h2 {
    font-size: 36px;
    line-height: 1.11;
    color: var(--color-main);
    text-align: center;
    letter-spacing: 0.02em;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;

}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    min-width: 100%;
}

input {
    font-family: inherit;
}


.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header */

.header {
    box-shadow: 
        0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-inner {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    align-items: center;
}

.header-nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.header-nav-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.link-logo-header {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--primary-brand);
    margin-right: 76px;
    
}
.logo-header {
    color: var(--color-main);
}
.logo-footer {
    color: var(--color-second);
}
.link-nav {
    display: inline-block;
    font-weight: 500;
    color: var(--color-main);
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.psevdo {
    position: relative;
    color: var(--color-interactive);

}

.psevdo::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 48px;
    height: 4px;
    background-color: var(--color-interactive);
    border-radius: 2px;
}

.link-nav:focus,
.link-nav:hover
{
    color: var(--color-interactive);
 
}

.address {
    display: flex;
    font-style: normal;
}

.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.link-address { 
    display: inline-block;
    color: var(--color-body);
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-address:focus,
.link-address:hover
{
    color: var(--color-interactive);
    
}

.section {
    padding: 120px 0;
}

/* Main-paige-section */

.main-page-section {
    padding: 188px 0;
    background-color: var(--color-main);
    background-image:
    linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/img-name.jpg);
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    max-width: 1440px;
    margin: 0 auto;
    background-position: 50% 50%;
}



.first-title{
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    color: var(--color-accent);
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto 48px;
    

}
.button {
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: var(--color-accent);
    background-color: var(--primary-brand);
    text-shadow: 0px 4px 4px #00000026;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    line-height: 1.5;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.button:hover,
.button:focus
 {
    background-color: var(--color-interactive);
}



/* Advantage section */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-list {
    display: flex;
    gap: 24px;
    align-items: baseline;
    justify-content: center;
}

.list-solutions {
    width: calc((100% - 72px) / 3);
}

.icon-second {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--color-second);
    border: 1px solid #8E8F99;
    border-radius: 4px;
    margin-bottom: 8px;

}

.advantages-title {
    margin-bottom: 8px;
}

/* Our-team-section */

.our-team-section {
    background-color: var(--color-second);
}
.our-team-section p,
.our-team-section h3
{
    text-align: center;
}

.team-title{
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-images{
    background-color: #fff;
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    
}


.names {
    padding: 32px 0;
}

.name-title {
    margin-bottom: 8px;
    text-align: center;
}

.position {
    margin-bottom: 8px;
    text-align: center;
}


.icon-team-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.link-media,
.social-link
{
    width: 40px;
    height: 40px;
    background-color: var(--primary-brand);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--color-second);

}

.link-media:hover,
.link-media:focus {
    background-color: var(--color-interactive);
}


/* Portfolio section */

.portfolio-title {
margin-bottom: 72px;
}

.name-app {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;

}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}



.aplications-title {
    margin-bottom: 8px;
}

.portfolio-pictures {
    max-width: 360px;
    border-bottom: 1px solid #E7E9FC;
    flex-basis: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-pictures:hover {
    box-shadow: 
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.hidden-overlay {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    color: var(--color-second);
    background-color: var(--primary-brand);
    padding: 40px 32px;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-pictures:hover .overlay {
    transform: translateY(0);
}

.end {
    background-color: var(--color-main);
    padding: 100px 0;
}

.end-flex {
    display: flex;
    align-items: baseline;
}

.logo-p {
    margin-right: 120px;
}

.social-media {
    font-weight: 500;
    color: var(--color-accent);
    margin-bottom: 16px;
}

.social-list {
    display: flex;
    gap: 16px;
}

.social-link:hover,
.social-link:focus {
    background-color: #31d0aa;
}

.link-logo-footer {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--primary-brand);
    margin-bottom: 16px;
}

.increase {
    color: var(--color-second);
    max-width: 264px;
}


/* Modal */

.modal {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
}

.modal-window {
    position: relative;
    width: 408px;
    height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
    padding: 72px 24px 24px;

}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;

}

textarea {
    resize: none;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-title {
    font-size: 16px;
    line-height: 1,5;
    margin-bottom: 16px;

}

.modal-field {
    display: block;
    margin-bottom: 8px;
}

.modal-label {
    display: block;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
}

.modal-input {
    height: 58px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: #FCFCFC;
}

textarea::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.40));
    padding-top: 8px;
    padding-left: 16px;
}

.modal-textarea {

    width: 100%;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: #FCFCFC;

}